<h1>Canteen-APP</h1>
<%= link_to 'Create Menu', new_menu_path, class: 'btn btn-success' %>
<%= link_to 'List Menu', item_page_path, class: 'btn btn-info' %>
<%= link_to 'Place Order' ,new_order_path, class: 'btn btn-danger'%>
